* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

}

@media only screen and (min-width: 700px){
    div>img {
        max-width: 100%;
        
     
    }
    @media only screen and (min-width: 700px) {
      /* For tablets: */
      .col-s-1 {width: 10%;}
      .col-s-2 {width: 16.66%;}
      .col-s-3 {width: 25%;}
      .col-s-4 {width: 33.33%;}
      .col-s-5 {width: 41.66%;}
      .col-s-6 {width: 50%;}
      .col-s-7 {width: 58.33%;}
      .col-s-8 {width: 66.66%;}
      .col-s-9 {width: 75%;}
      .col-s-10 {width: 83.33%;}
      .col-s-11 {width: 91.66%;}
      .col-s-12 {width: 100%;}
    }
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 10%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    }

html{
    scroll-behavior: smooth;
}

/* Navbar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(74, 0, 131, 0.85);
  height: 40px;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px, 0px;
}

.navbar ul li {
  font-family: barlow;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

/*Home Section*/
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
  justify-content: center;
  align-items: center;
  color: rgb(74, 0, 131);
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/abstract.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: center/cover;
  height: 540px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

#logo{ 
	position:fixed; 
	top:0; 
	left:0;
  background:none;
}

.main {
  display: flex;
  flex-direction: column;
  /*border: 1px solid white;*/
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}

.headings {
  font-family: merriweather;
  font-size: 3rem;
  text-align: center;
  margin: 30px 0px;
}

.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  outline: none;
  transition: 0.6s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(74, 0, 131, 0.5);
  color: black;
  box-shadow: 0 0 10px white, 0 0 15px white;
  font-weight: bold;
  font-family: barlow;

}

.btn:active{
  background-color: rgb(89, 143, 153);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* About Section*/
#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}

#pic {
  display: flex;
}

#pic img {
  width: 575px;
  max-width: 100%;
  height: 400px;
  max-height: auto;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

#intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/*Portfolio Section*/
#portfolio {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  padding: 20px;
}

.br {
    max-height: 50px;
    width: 100%;
    background: rgb(89, 143, 153);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  max-width: 900px;
  max-height: 240px;
  margin: 10px;
}

.videos{
 display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

/*Services Section*/
#services {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top, rgba(74, 0, 131, 0.5) 50%, white 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(89, 143, 153);
}

.box img {
  width: 60px;
  height: 60px;
  background-color: none;
  padding: 10px;
}

/* Contact Section*/
#contact {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(74, 0, 131, 0.9);
  color: white;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
  max-width: 100%;
}

.input {
  display:flex;
  flex-direction: column;
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none; 
}

#send{
    padding: 10px;
    width: 10px;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

#html{
  text-align:Center;
  padding: 3px;
  color: white;
}

/*footer*/
footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(74, 0, 131, 0.5);
  color: white;
}

/* Pulled from past site*/
a {
  color: white;
  font-size: 25px;
}

div {
  background-color: rgb(215, 216, 216);

  margin: auto;
  padding: 30px;
}

h2 {
text-align: center;
 font-family: barlow;
 font-size: 2rem;
 margin: 40px 0px;
 
}

body {
  background-color: rgb(89, 143, 153);
  font-family: barlow;
}

H5{
  text-align: center;

}